* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.scrollable::-webkit-scrollbar {
  display: block !important;
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #c0c4cc;
  border-radius: 3px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #909399;
}

.scrollable {
  -ms-overflow-style: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: #c0c4cc transparent !important;
}
